In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Pokemon.csv")

In [3]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
attack_mean= data["Attack"].mean()

In [5]:
data["Attack"].mean()

79.00125

In [6]:
attack_mean

79.00125

In [7]:
def set_attack(val):
    if val< attack_mean:
        return "attack low"
    else:
        return "attack high"

In [8]:
data["Attack_high_low"]=data["Attack"].apply(set_attack)

In [9]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,attack low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,attack low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,attack high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,attack high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,attack low

In [10]:
data["Hp"].mean()

KeyError: 'Hp'

In [11]:
hp_mean = data["HP"].mean()

In [12]:
data["HP"].mean()

69.25875

In [13]:
def set_hp(value):
    if val< hp_mean:
        return "HP low"
    else:
        return "HP high"

In [14]:
data["HP_high_low"]=data["HP"].apply(set_hp)

NameError: name 'val' is not defined

In [15]:
hp_mean

69.25875

In [16]:
def set_hp(val):
    if val< hp_mean:
        return "HP low"
    else:
        return "HP high"

In [17]:
data["HP_high_low"]= data["HP"].apply(set_hp)

In [18]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,attack low,HP low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,attack low,HP low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,attack high,HP high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,attack high,HP high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,attack low,HP low

In [19]:
speed_mean = data["speed"].mean()

KeyError: 'speed'

In [20]:
speed_mean = data["Speed"].mean()

In [21]:
speed_mean

68.2775

In [22]:
def set_speed(val):
    if val< speed_mean:
        return "Speed low"
    else:
        return "Speed high"

In [23]:
data["Speed_high_low"]= data["Speed"].apply(set_speed)

In [24]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low,HP_high_low,Speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,attack low,HP low,Speed low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,attack low,HP low,Speed low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,attack high,HP high,Speed high
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,attack high,HP high,Speed high
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,attack low,HP low,Speed low